<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TP1Posgrado.ModeloDatos.Properties.Settings.PosgradoConnectionString"
            connectionString="Data Source=DESKTOP-5QH7RIN\SQLEXPRESS;Initial Catalog=Posgrado;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>